* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* header section */
header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #262B2F;
    align-items: center;
}

header>section>img {
    width: 3rem;
    border-radius: 100%;
    padding: 10px;

}

header>nav {
    place-self: center end;
}

header>nav>ul {
    display: flex;
}

header>nav>ul>li {
    padding: 10px;
    list-style: none;
}

header>nav>ul>li>a {
    text-decoration: none;
}

header>nav>ul>li>a>button {
    width: fit-content;
}

/* hero section */

hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    place-items: center center;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
}

hero>div {
    display: inline-block;
    grid-column: 1/3;
    margin-top: -60px;
}

hero>div>ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

hero>div>ul>li {
    list-style: none;
}

hero>div>ul>li>a>img {
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 3px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 5px;
    width: 3em;
}

hero>section:first-child {
    place-self: center end;
    padding: 100px;

}

hero>section:first-child .content {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    width: 120%;
    border-radius: 10px;
}

hero>section:first-child .content>h1 {
    font-size: 5em;
    color: rgb(180, 180, 180);
    font-family: "Caveat Brush", cursive;
    font-weight: 800;
    font-style: normal;
}

hero>section:first-child .content>h3 {
    font-size: 3em;
}

hero>section:first-child .content>h4 {
    font-size: 2em;
    color: #99AEF5;
    text-shadow: 3px 3px 4px rgb(83, 83, 83);
}

hero>section:first-child .content>p:nth-child(1) {
    display: none;
}

hero>section:first-child .content>p {
    color: #262B2F;
    font-size: 1rem;
}

hero>section:first-child .content>div>button {
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid #262B2F;

}

hero>section:first-child .content>div>button:nth-child(1) {
    background-color: #262B2F;
    color: white;
    border: none;

}

hero>section:first-child .content>div>button:nth-child(2) {
    background-color: #ffffff;
    color: #262B2F;

}

hero>section:nth-child(2) {}

hero>section:nth-child(2)>img {
    width: 600px;
    place-self: center center;
    border-radius: 100%;
    background-color: #262B2F;
}

hero>section:first-child .content>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

hero>section:first-child .content>div>div>a>img {
    margin: 3px;
    border-radius: 100%;
    padding: 3px;
    width: 4%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#aboutMe {
    margin-top: 100px;
}

#aboutMe>h1 {
    text-align: center;
    font-weight: 500;
    font-optical-sizing: auto;
    font-size: 3rem;
    font-weight: 900;
    
}

#aboutMe>section {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center center;
    grid-gap: 10px;
}
#aboutMe>section>div:nth-child(1){
    place-self: end end;
}
#aboutMe>section>div>img{
    width: 40rem;
    background-color: #262B2F;
    border-radius: 100%;
    
}
#aboutMe>section>div:nth-child(2){
    place-self: start start;
}
#aboutMe>section>div:nth-child(2)>h2{
    color: gray;
    font-size: 4em;
    padding: 0;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#aboutMe>section>div:nth-child(2)>h3{
    color: gray;
    font-size: 3.5em;
    padding: 0;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#aboutMe>section>div:nth-child(2)>p{
    width: 100%;
    font-weight: 500;
    font-size: 1.3rem;
    font-style: normal;
}
#aboutMe>section>div:nth-child(2)>div>div{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;
    border-radius: 25px;
    font-size: 1.2rem;
    padding-left: 10px;
}
#aboutMe>section>div:nth-child(2)>div>div:hover{
    
    background-color: #99AEF5;
}
#aboutMe>section>div:nth-child(2)>div>div>label{
    width: 25%;
}

/* skill section  */
#skill{
    background-color: #282828e5;
    margin-top: 10%;
    font-weight: 500;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
}
#skill>section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2em 2em;
    padding: 10%;
    padding-top: 5%;
}
#skill>h1{
    text-align: center;
    padding: 3%;
    
}
#skill>section>div{
    width: 100%;
    height: 200px;
    background-color: #262B2F;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    font-size: 1rem;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}
#skill>section>div>div{
    padding: 10%;
    display: flex;
    justify-content: center;
}
#skill>section>div>div button{
    width: 50%;
    height: 30px;
    border: #ffffff solid 2px;
    border-radius: 10px;
    background-color: #262B2F;
    color: #ffffff;
}
/* assignment section  */
#assignment{
    color: #ffffff;
    position: relative;
}
#assignment>h1{
    text-align: center;
    font-weight: 500;
    font-optical-sizing: auto;
    font-size: 3rem;
    color: black;
    font-weight: 900;
    margin: 8%;
}
#assignment>section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em 1em;
    padding: 2em;
    
}
#assignment>section>div{
    place-self: center center;
    width: 90%;
    height: fit-content;
    border-radius: 12px;
    padding: 5px;
    background-color: #262B2F;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    
}
#assignment>section>div>img{
    width: 100%;
    height: 10em;
    border-radius: 15px;
}

#assignment>section>div>div{
    display: flex;
    justify-content: center;
}
#assignment>section>div>div>a>button{
    background: #262B2F;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid white;
    width: fit-content;
    height: 25px;
    padding: 3px;
    margin-right: 5px;
    
}
#assignment>section>div>h2{
    margin:5px;
}
#assignment>section>div>p{
    font-size: 0.8rem;
    margin: 5px;
    /* text-align: center; */
    
}
/* cases1  */
#assignment #cases1>header{
    display: flex;
    justify-content: end;
    border-radius: 5px;
}
#assignment #cases1>header>button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
#assignment #cases1>header>button>img{
    width: 2rem;
}
#assignment #cases1{
    width: 60%;
    height: fit-content;
    border: 2px solid black;
    background-color: #111416;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
#assignment .cases>div{
    margin-top:10% ;
}
#assignment .cases>div>a{
    text-decoration: none;
    color: white;
}
#assignment .cases>div>a>h1{
    margin: 10px;
    border-radius: 10px;
    height: fit-content;
    padding: 5px;
    background-color: #454545;
    box-shadow: rgba(229, 229, 229, 0.12) 0px 2px 4px 0px, rgba(81, 80, 80, 0.32) 0px 2px 16px 0px;
    
}

/* project section  */
#project>h1{
    text-align: center;
    font-weight: 500;
    font-optical-sizing: auto;
    font-size: 3rem;
    color: black;
    font-weight: 900;
    margin: 8%;
}
#project>section{
    color: white;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center center;
    z-index: 2;
}

#project>section>div{
    width: 80%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background: #262B2F;
    border-radius: 10px;
    
}
#project>section>div>h4{
    text-align: center;
}
#project>section>div>div{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#project>section>div>div>button{
    background-color: #262B2F;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
#project>section>div>img{
    width: 100%;
    height: 50%;
}
#project #wall{
    border: 1px solid;
    height: 300px;
    background: linear-gradient(#262B2F,white);
    margin-top: -100px;
    z-index: 1;
    padding-left: 4em;
    border-radius: 10%;
}
#project>#wall>button{
    padding: 4%;
    border: 2px solid white;
    background-color: #262B2F;
    color: white;
    border-radius: 10px;
    place-self: center start;
   
}
.hireMe{
    margin-top: 10%;
    background-color: #1b1e20;
    color: white;
}
.hireMe>h1 {
    text-align: center;
    font-weight: 500;
    font-optical-sizing: auto;
    font-size: 3rem;
    font-weight: 900;
}

.hireMe>section {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hireMe>section>div:nth-child(1) {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    height: fit-content;
    background-color: #262B2F;
    grid-column: 1;
    display: flex;
    justify-content: center;
    width: 100%;

}

.hireMe>section>div:nth-child(1)>form {
    height: fit-content;
    padding: 15px;
    width: 100%;
}

.hireMe>section>div:nth-child(1)>form input {
    width: 100%;
    height: 30px;
    background-color: #454545;
    border-radius: 10px;
    border-style: none;
    padding: 5px;
}

.hireMe>section>div:nth-child(1)>form textarea {
    width: 100%;
    height: 200px;
    background-color: #454545;
    border-radius: 10px;
    border-style: none;
    padding: 5px;
}

.hireMe>section>div:nth-child(1)>form button {
    width: 100px;
    height: 25px;
    border-radius: 6px;
    background-color: #454545;
    color: white;
    border: none;
}

.hireMe>section>div:nth-child(2){
    width: 100%;
}
.hireMe>section>div:nth-child(2)>section>img {
    width: 70%;
}

.hireMe>section {
    display: flex;
    justify-content: center;
}

.hireMe>section>div {
    margin: 10px;
}

.hireMe>section>div:nth-child(2)>section>div>div:nth-child(1) {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    background-color: #262B2F;
}

.hireMe>section>div:nth-child(2)>section>div>div>#whatsapp {
    color: green;

}

.hireMe>section>div:nth-child(2)>section>div>div>#email {
    color: rgb(181, 57, 57);

}

.hireMe>section>div:nth-child(2)>section>div>div>#location {
    color: red;

}

.hireMe>section>div:nth-child(2)>section>div {
    display: flex;
}
#gallery>h1{
    text-align: center;
    font-weight: 500;
    font-optical-sizing: auto;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 10%;
}
#gallery{
   
}
#gallery>section{
    margin-top: 10%;
    place-self: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 500px;
    
}
#gallery>section>div{
    width: 20%;
    height: 300px;
    border: 2px solid ;
    margin: 20px;

}
#gallery>section>div:nth-child(1){
    height: 100%;
    background-image: url("assets/img/432277000_925106579085730_5372217276935642645_n.jpg");
    background-position: center;
    background-size: cover;
}
#gallery>section>div:nth-child(2){
    height: 70%;
    background-image:url("assets/img/DSC09596.jpg") ;
    background-position: center;
    background-size: cover;

}
#gallery>section>div:nth-child(3){
    height: 70%;
    background-image:url("assets/img/366140438_811128910483498_8570698027645271135_n.jpg") ;
    background-position: center;
    background-size: cover;
}
#gallery>section>div:nth-child(4){
    height: 100%;
    background-image:url("assets/img/366304750_811126777150378_4070179225495589162_n.jpg") ;
    background-position: center;
    background-size: cover;
}
#gallery>div{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gallery>div>p{
    width: 70%;
    font-size: 1em;
}
#education>#topic {

}

#education>#topic>h1 {
    text-align: center;
    font-weight: 500;
    font-optical-sizing: auto;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 10%;
    margin-bottom: 5%;
}

#education>#main {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}

#education>#main>#eduDetails {
    padding: 5px;
    width: 300px;
    height: fit-content;
    margin: 5px;
    color: white;
    background-color: #262B2F;
    border-radius: 10px;
    box-shadow: -10px 10px 10px rgb(98, 98, 98);

}

#education>#main>#eduDetails>div>h3 {
    padding-bottom: 5%;
    padding-left: 10%;
    padding-top: 2%;
    color: rgb(197, 197, 197);
}

#education>#main>#eduDetails>div>p {
    font-size: 1rem;
    width: 270px;
    align-content: center;
}

#education>#main>img {
    width: 20%;
    height: 550px;
    margin: 5px;

}
/* 1024 size */
@media all and (max-width:1024px) {
    html{
        font-size: 70%;
    }
    
    hero>section:first-child {
        padding: 0;
        place-self: center end;

    }

    hero>section:first-child .content>p:nth-child(1) {
        display: none;
    }

    hero>section:nth-child(2) {
        place-self: center start;
    }

    hero>section:nth-child(2)>img {
        width: 450px;

    }

    hero>div>ul>li>a>img {
        border-radius: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 3px;
        margin-top: 20px;
        margin-bottom: -20px;
        padding: 5px;
        width: 3em;
    }
    hero{
        margin-top: 5%;
    }
    hero>div{
        margin-top:0px ;
    }
    #aboutMe>section{
        margin-top: 5%;
        padding: 5%;
    }
    
    #aboutMe>section>div>img{
        width: 40rem;
    }
    #aboutMe>h1{
        font-size: 4em;
    }
    #aboutMe>section>div:nth-child(2){
        /* scale: 0.6; */
        place-self: start start;
        width: 100%;
      
    }
    #assignment>section>div>div>a>button{
        font-size: 0.8rem;
        
    }
    #project>section>div>div>button{
        font-size: 0.8rem;
        padding:5px;
    }
    #project>#wall>button{
        font-size: 0.8rem;
       
    }
    #gallery>section>div{
        width: 100%;
        height: 200px;
        border: 2px solid ;
        margin: 20px;
    
    }
    #education>#main>img {
        height: 250px;
        width: 30%;
    
    }



}
/* tablet size */
@media all and (max-width:768px) {
    html{
        font-size: 50%;
        text-align: center;
    }
    hero>section:first-child {
        /* scale: 0.6; */
        padding: 0;
        

    }

    hero>section:first-child .content>p:nth-child(1) {
        display: none;
    }

    hero>section:nth-child(2) {
        place-self: center start;
    }

    hero>section:nth-child(2)>img {
        width: 360px;

    }

    hero>div>ul>li>a>img {
        border-radius: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 3px;
        margin-top: 0;
        margin-bottom: 10px;
        padding: 5px;
        width: 2em;
    }
    #gallery{
        font-size: 1.5em;
    }
    #gallery>section{
        width: 80%;

    
    }
    #gallery>div{
        top: 50px;
        
    }

}
/* phone large size */
@media all and (max-width:426px) {
    html{
        font-size: 55%;
    }
    header>nav {
        display: none;
    }

    hero {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;


    }
    

    hero>section:nth-child(2)>img {
        place-self: center center;
        width: 350px;

    }

    hero>section:nth-child(2) {
        grid-row: 1;
        place-self: center center;

    }

    hero>section:nth-child(1) {
        
    }

    hero>section:first-child .content {
        padding: 0;
        margin: 0;
        box-shadow: none;
        width: 100%;
        text-align: center;

    }

    hero>div>ul>li>a>img {
        border-radius: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 3px;
        margin-top: 0;
        margin-bottom: 10px;
        padding: 5px;
        width:2em;
    }
    #aboutMe>section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #aboutMe>section>div:nth-child(1){
       place-self: center center;
    }
    #aboutMe>section:nth-child(2)>p{
        width: 100%;
    }
    #skill>section{
        grid-template-columns: repeat(2,1fr);
    }
    #skill>section>div{
       font-size: 0.8rem;
    }
    #assignment>section{
        width: 100%;
       
    }
    #assignment>section{
        grid-template-columns: repeat(2,1fr);
    }
    #project>section{
        
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2em 0em;
        margin: 0;
        
    }
    #project #wall{
        margin-top: -300px;
    }
    #project>#wall>button{
        margin-top: 300px;
        background-color: #ffffff;
        border: 1px solid #262B2F;
        color: #262B2F;
       
    }
    #hireMe>section{
        display: flex;
        flex-direction: column;
    }
    #gallery>section{
        width: 100%;
        height: 200px;
        padding:5%;

    
    }
    #gallery>section>div{
        margin: 5px ;
    }
    #education>#main{
        display: flex;
        flex-direction: column;
    }
    #education>#main>#eduDetails{
        width: 70%;
       
    }
    #education>#main>#eduDetails>div>p{
        width: 200px;
        text-align: center;
       
    }
    #education>#main>img {
        width: 70%;
    }
}
/* phone medium size */
@media all and (max-width:377px) {
    html{
        font-size: 50%;
    }
    header>nav {
        display: none;
    }

    hero>section:nth-child(2)>img {
        place-self: center center;
        width: 300px;

    }

    hero>section:nth-child(2) {
        grid-row: 1;
        place-self: center center;

    }

    hero>section:nth-child(1) {
        grid-row: 2;
        place-items: center center;
    }

    hero>section:first-child .content {
        padding: 0;
        margin: 0;
        box-shadow: none;
        width: fit-content;
    }
    hero>div>ul>li>a>img {
        width: 2.5em;
    }
    #aboutMe>section>div:nth-child(1)>img{
        width: 90%;
    }
    #skill>section{
        grid-template-columns: repeat(1,1fr);
    }
    #skill>section>div{
        place-self: center center;
        width: 70%;
    }
    #assignment>section{
        grid-template-columns: repeat(1,1fr);
    }
    #assignment>section>div{
        width: 60%;
    }

}
/* phone small size */
@media all and (max-width:321px) {
    htm{
        font-size: 30%;
    }
    header>nav {
        display: none;
    }



    hero>section:nth-child(2)>img {
        width: 250px;

    }


    hero>div>ul>li>a>img {
        width: 2em;
    }
    #skill>section{
        grid-template-columns: repeat(1,1fr);
    }
    #assignment>section{
        grid-template-columns: repeat(1,1fr);
    }
    #assignment>section>div{
        width: 60%;
    }
    #project>#wall>button{
        margin-top: 280px;
        
       
    }
    .hireMe>section>div:nth-child(1)>form input {
        width: 100%;
        height: 20px;
        
    }
    
    .hireMe>section>div:nth-child(1)>form textarea {
        width: 100%;
        height: 200px;
        background-color: #454545;
        border-radius: 10px;
        border-style: none;
        padding: 5px;
    }
    .hireMe>section>div:nth-child(1)>form button{
        margin: 5px;
    }


}











